{% extends "bootstrap/base.html" %}

{%block content%}
    <!--
        'user' es la variable que tengo en la funcion de la ruta '/user' del archivo home.py
        al igual que las variables 'form' y 'name_user', ya estan declaradas previamente en el 
        archivo home.py
    -->
    {% if user %}
        <h1>Hola {{ user }}</h1>
    {% else %}
        <h1>No has escrito tu nombre</h1>
        <form action="" method="post">
            {{form.hidden_tag()}}
            {{form.name_user.label}}
            {{form.name_user()}}
            {{form.submit()}}
        </form>
    {%endif%}
{%endblock%}

